:root {
    --blue: #00a3ff;
    --white: #ffffff;
    --whiteGray: #EFF2F5;
    --lightGray: #B5B5C3;
    --gray: #78787d;
    --darkGray: #4a4b52;
    --black: #161617;
    --bs-font-sans-serif: "Roboto", sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: var(--bs-font-sans-serif);
    background: #fafafa;
}

p {
    font-family: var(--bs-font-sans-serif);
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.button {
    border-radius: .475rem;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: var(--white);
    color: var(--darkGray);
    transition: all 0.3s;
}   

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        color: var(--black);
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #6d7fcc;
    }

    #sidebar ul p {
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        background: inherit;
        color: var(--darkGray);
    }

        #sidebar ul li a:hover {
            color: var(--blue);
        }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #c1c4c7;
}

.menu-item .menu-link .menu-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.menu-item .menu-link .menu-bullet {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    margin-right: .5rem;
}