@page
@model Website.ContactMeModel
@{
    ViewData["Title"] = "Contact Me";
}

<h1>Contact Me</h1>
<div class="col-md-12">
    <p>Phone #: (515)371-9830</p>
    <p>Email: 2015ryansamuelson@gmail.com</p>

    <div class="col-md-3">
        <label>Name</label>
        <input />
    </div>
    <div class="col-md-3">
        <label>Company Name (optional)</label>
        <input />
    </div>
    <div class="col-md-12">
        <label>Reason For contact</label>
        <input />
    </div>
</div>
