@page
@model Website.IndexModel
@{
    ViewData["Title"] = "Index";
}

<!-- - - - - - - - - Start Body - - - - - - - - - - -->
<!-- - - - - - - - - Start Header - - - - - - - - - - -->
<header>
    ....
</header>
<!-- - - - - - - - - End Header - - - - - - - - - - -->
<!-- - - - - - - - - Start Main Section - - - - - - - - - - -->
<main>

    <!-- - - - - - - - - Start Home - - - - - - - - - - -->
    <section id="home">
        ....
    </section>
    <!-- - - - - - - - - End Home - - - - - - - - - - -->
    <!-- - - - - - - - - Start About - - - - - - - - - - -->
    <section id="about">
        ....
    </section>
    <!-- - - - - - - - - End About - - - - - - - - - - -->
    <!-- - - - - - - - - Start Portfolio - - - - - - - - - - -->
    <section id="works">
        ....
    </section>
    <!-- - - - - - - - - End Portfolio - - - - - - - - - - -->
    <!-- - - - - - - - - Start Contact - - - - - - - - - - -->
    <section id="contact">
        ....
    </section>
    <!-- - - - - - - - - End Contact - - - - - - - - - - -->
    <!-- - - - - - - - - Start Blog - - - - - - - - - - -->
    <section id="blog">
        ....
    </section>
    <!-- - - - - - - - - End Blog - - - - - - - - - - -->

</main>
<!-- - - - - - - - - End Main Section - - - - - - - - - - -->
<!-- - - - - - - - - End Body - - - - - - - - - - -->
