@using MediatR
@using Application.Counters.Queries.GetButtonClick
@using Application.IpAddresses.Queries.GetTotalIpAddressCount

@inject IMediator Mediator

@{
    ViewBag.title = "Dashboard";
}

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4 gradient-3-shadow">
            <div class="card-body">
                <h3 class="card-title text-white">Special Button Clicks</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@await Mediator.Send(new GetButtonClickQuery())</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3 gradient-4-shadow">
            <div class="card-body">
                <h3 class="card-title text-white">Total IP Addresses Visited</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@await Mediator.Send(new GetTotalIpAddressCountQuery())</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1 gradient-2-shadow">
            <div class="card-body">
                <h3 class="card-title text-white">Total IP Addresses Visited</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@await Mediator.Send(new GetTotalIpAddressCountQuery())</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2 gradient-1-shadow">
            <div class="card-body">
                <h3 class="card-title text-white">Total IP Addresses Visited</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@await Mediator.Send(new GetTotalIpAddressCountQuery())</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <img class="img-fluid" src="~/images/imgs/AspCoreCard.png">
            <div class="card-body">
                <h3 class="card-title">Ryan Samuelson Web</h3>
                <p class="card-text">
                    This is the repo for this website. You can look at it in my GitHub and see how I did it.
                </p>
                <a href="https://github.com/Rsamuelson/RyanSamuelsonWeb" class="btn btn-primary" target="_blank">View Repository</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <img class="img-fluid" src="~/images/imgs/PythonStuffCard.png">
            <div class="card-body">
                <h3 class="card-title">Pythod Stuff</h3>
                <p class="card-text">
                    For all of my python testing and small projects.
                </p>
                <a href="https://github.com/Rsamuelson/PythonStuff" class="btn btn-primary" target="_blank">View Repository</a>
            </div>
        </div>
    </div>
</div>
