<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.title</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">

    <!-- Custom Stylesheet -->
    <link href="~/plugins/nestable/css/nestable.css" rel="stylesheet" asp-append-version="true">
    <link href="~/plugins/nouislider/nouislider.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/plugins/sweetalert/css/sweetalert.css" rel="stylesheet" asp-append-version="true">
    <link href="~/plugins/toastr/css/toastr.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-iKbFRxucmOHIcpWdX9NTZ5WETOPm0Goy0WmfyNcl52qSYtc2Buk0NCe6jU1sWWNB" crossorigin="anonymous">
</head>
<body>
    <partial name="_Preloader.cshtml" />

    <div id="main-wrapper">

        <partial name="_Header.cshtml" />

        <partial name="_SidebarNav.cshtml" />

        <div class="content-body">

            @*<partial name="_Breadcrumb.cshtml" />*@

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

        <partial name="_Footer.cshtml" />

    </div>

    <partial name="_LayoutScripts.cshtml" />

    @RenderSection("scripts", required: false)
</body>
</html>
