<!DOCTYPE html>
<html lang="en">
<head>
    <title>MegaCorp by TEMPLATED</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/MegaCorpCssTemplate/js/skel.min.js"></script>
    <script src="~/MegaCorpCssTemplate/js/skel-panels.min.js"></script>
    <script src="~/MegaCorpCssTemplate/js/init.js"></script>

    <!-- Sylesheets -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/MegaCorpCssTemplate/css/skel-noscript.css" />
    <link rel="stylesheet" href="~/MegaCorpCssTemplate/css/style.css" />
    <link rel="stylesheet" href="~/MegaCorpCssTemplate/css/style-desktop.css" />

</head>
<body>
    <!-- Header -->
    <div id="header-wrapper">

        <div id="header" class="container">

            <div id="logo"><h1><a href="#">Ryan Samuelson</a></h1></div>
            <nav id="nav">
                <ul>
                    <li><a asp-page="Index">Homepage</a></li>
                    <li><a asp-page="ContactME">Contact Me</a></li>
                </ul>
            </nav>

        </div>



        <div id="banner">
            <div class="container">
                <div class="row">
                    <section class="12u">
                        <header>
                            <h2>In posuere eleifend odio quisque semper</h2>
                            <span class="byline">Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis rutrum id, elementum congue. Suspendisse dictum porta lectus.</span>
                        </header>
                        <a href="#" class="button button-alt">Read More</a>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <!-- feature -->
    <!-- render page -->
    @RenderBody()

    <!-- Copyright -->
    <div id="copyright" class="container">
        Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
    </div>
    
    <!--banner (only show if page is ends with index)-->
    <script type="text/javascript">
        var x = document.getElementById('#banner');
        if (document.URL.endsWith("Index")) {
            x.show();
        }

    </script>
</body>
</html>
    

