<div class="nk-nav-scroll">
    <ul class="metismenu" id="menu">
        <li class="nav-label">DashBoard</li>
        <li>
            <a asp-action="Index" asp-controller="Home">
                <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li class="nav-label">Interactables</li>
        <li>
            <a asp-action="Index" asp-controller="Interactables">
                <i class="fad fa-dice-d20 menu-icon"></i><span class="nav-text">Interactiables</span>
            </a>
        </li>
        <li class="nav-label">UI Components</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-grid menu-icon"></i><span class="nav-text">UI Components</span>
            </a>
            <ul aria-expanded="false">
                <li><a asp-action="Accordion" asp-controller="UIComponent">Accordion</a></li>
                <li><a asp-action="Alert" asp-controller="UIComponent">Alert</a></li>
                <li><a asp-action="Badge" asp-controller="UIComponent">Badge</a></li>
                <li><a asp-action="Button" asp-controller="UIComponent">Button</a></li>
                <li><a asp-action="ButtonGroup" asp-controller="UIComponent">Button Group</a></li>
                <li><a asp-action="Cards" asp-controller="UIComponent">Cards</a></li>
                <li><a asp-action="Carousel" asp-controller="UIComponent">Carousel</a></li>
                <li><a asp-action="Dropdown" asp-controller="UIComponent">Dropdown</a></li>
                <li><a asp-action="ListGroup" asp-controller="UIComponent">List Group</a></li>
                <li><a asp-action="MediaObject" asp-controller="UIComponent">Media Object</a></li>
                <li><a asp-action="Modal" asp-controller="UIComponent">Modal</a></li>
                <li><a asp-action="Pagination" asp-controller="UIComponent">Pagination</a></li>
                <li><a asp-action="Popover" asp-controller="UIComponent">Popover</a></li>
                <li><a asp-action="ProgressBar" asp-controller="UIComponent">Progressbar</a></li>
                <li><a asp-action="Tab" asp-controller="UIComponent">Tab</a></li>
                <li><a asp-action="Typography" asp-controller="UIComponent">Typography</a></li>
                <li><a asp-action="Nestadable" asp-controller="UIComponent">Nestedable</a></li>
                <li><a asp-action="NouiSlider" asp-controller="UIComponent">Noui Slider</a></li>
                <li><a asp-action="SweetAlert" asp-controller="UIComponent">Sweet Alert</a></li>
                <li><a asp-action="Toastr" asp-controller="UIComponent">Toastr</a></li>
            </ul>
        </li>
        <li class="nav-label">Pages</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./page-error-404.html">Error 404</a></li>
                <li><a href="./page-error-403.html">Error 403</a></li>
                <li><a href="./page-error-400.html">Error 400</a></li>
                <li><a href="./page-error-500.html">Error 500</a></li>
                <li><a href="./page-error-503.html">Error 503</a></li>
            </ul>
        </li>
    </ul>
</div>