<ul>
    <li class="menu-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="menu-item">
        <a class="nav-link text-dark" asp-area="Email" asp-controller="Home" asp-action="Index">Email</a>
    </li>
    <li class="menu-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="counter">Counter</a>
    </li>
</ul>